/week1-simple-jpa-rest/week1-simple-jpa-rest/target/
/PlainJPA/target/
/ex_2/target/
/jpql-demo-for-day4/jpql-demo-for-day4/target/
/week1-simple-jpa-rest/week1-simple-jpa-rest/nbproject/
/rest1/target/
